{% extends 'base.html'%}
{%block content%}
<section class="about-us text-center mt-4">
    <h1>About Us</h1>
    <div class="about-us__container">
        <div class="card">
            <img src="/static/img/jork.png" alt="" class="about-us__img card-img-top">
            <div class="card-body">
                <h4 class="card-title">Jork Cedric F. Padua</h4>
                <p class="card-text">Programmer</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/ron.png" alt="" class="about-us__img card-img-top">
            <div class="card-body">
                <h4 class="card-title">Ron Angelo D. Estrella</h4>
                <p class="card-text">Programmer</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/joy.png" alt="" class="about-us__img card-img-top">
            <div class="card-body">
                <h4 class="card-title">Joy F. Buenaceda</h4>
                <p class="card-text">Designer</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/tricia.png" alt="" class="about-us__img card-img-top">
            <div class="card-body">
                <h4 class="card-title">Tricia D. Cabantog</h4>
                <p class="card-text">Designer</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}